---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Destaques from '../components/Destaques.astro';
import Reservas from '../components/Reservas.astro';
import Galeria from '../components/Galeria.astro';
import Localizacao from '../components/Localizacao.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Destaques />
    <Reservas />
    <Galeria />
    <Localizacao />
  </main>
  <Footer />
</Layout>
